.start{
  background-color: rgb(243, 247, 246);
  color: rgb(0, 65, 139);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #F7F7F7;
}
.filter{
    background-color: rgb(241, 204, 179);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 1em; 
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.s{
    color: red;
}

.result {
    max-width: 100px;
    max-height: 100px;
    /* margin-left: auto;  */
    /* margin-right: auto; */
    padding: 2em 1em;
    border-radius: 8px;
    /* overflow: hidden; */
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(160, 81, 160, 0.521);
  }

  #criteria{
      background-color: peachpuff;
  }

  #root {
        background-image: url('/r_icons/morehead.jpg');
        background-attachment: scroll; 
  }
  
  .result {
    max-width: 1000px;
    max-height: 2000px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 1em;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  }

  #criteria{
      background-color: peachpuff;
  }

  #root {
        background-image: url('/r_icons/morehead.jpg');
        background-attachment: scroll; 
  }

form {
  width: 250px;
  margin: 1px auto;
  padding: 10px;
}
.progress:before {
    content:attr(data-text);
    position:absolute;
    left:0;
    right:0;
  }
  .progress {
   text-align:center;
   display:inline-block;
   position:relative;
  }