.regHead{
  color: navy;
  font-size: 5vh;
  font-style: oblique;
  /* font-family: fantasy; */
}
.card-body{
  outline: black;
  outline-width: 5px;
  /* width: 25px; */
}
#fullWidth{
  width: 50%;
  background-color: lightcoral;
  float:left;
  height:294px;
  border-radius: 0px;
  border-right: none;
}
#fullWidth2{
  width: 50%;
  background-color: lightcoral;
  float:left;
  height:294px;
  border-right: none;
  border-radius: 0px;

}
#moveDown{
  margin-top:1.3vh;
  color:white;
}
#center{
  text-align: center;
}
.center{
  font-size: 25px;
}
.return{
  align-content: center;
  margin-left: 110px;
  /* justify-content: center; */
  color: red;
  /* background-color: palegreen; */
  
}
.button{
  margin-left: 20px;
}

.start{
  background-color: rgb(243, 247, 246);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #F7F7F7;
}
#home{
  color: white;
}
.navbar{
  color: white;
  background-color: black;
}
.filter{
    background-color: lightcoral;
    
    margin-left: auto;
    margin-right: auto;
    padding: 2em 1em; 
  
    overflow: hidden;
    

}
/* .s{
    color: red;
} */

.result {
    max-width: 100px;
    max-height: 100px;
    margin-left: auto; 
    margin-right: auto;
    padding: 2em 1em;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(218, 194, 218, 0.842);
  }

  #criteria{
      background-color: rgb(240, 236, 232);
  }

  #root {
        background-image: url('/r_icons/morehead.jpg');
        background-attachment: scroll; 
  }
  
  .result {
    max-width: 100%;
    max-height: 200000px;
    position:relative;
    margin-right:50vw;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 2em 1em;
    border-radius: 8px;
    /* overflow: hidden; */
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  }
  #formCard{
    min-height: 200px;
    width: 50%;
    height: 70vh;
    float:left;
    /* background-color: rgba(218, 194, 218, 0.842); */
    margin: 0, 0, 0, 8px;
    padding: 2em 1em;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);

  }
  .result2 {
    max-width: 50%;
    padding-bottom: 20vh;
    min-height: 200px;
    margin-top:-421.2vh;
    position:relative;
    margin-left:50vw;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 2em 1em;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  }

  #criteria{
      background-color: peachpuff;
  }

  #root {
        background-image: url('/r_icons/morehead.jpg');
        background-attachment: scroll; 
  }

form {
  width: 250px;
  margin: 1px auto;
  padding: 10px;
}
.progress:before {
    content:attr(data-text);
    position:absolute;
    left:0;
    right:0;
  }
  .progress {
   text-align:center;
   display:inline-block;
   position:relative;
  }